<md-toolbar layout="column" layout-padding class="toolbarMng">
	<div layout="row" layout-sm="row" layout-align="center center" layout-wrap="">
	  <md-button layout-sm="column" class="md-raised md-default" ng-click="setOptionsObject('internal'); activecls = 3" ng-class="{activeCls: activecls === 3}"><i class="fa fa-file-text">&nbsp;</i>internal</md-button>
	  <md-button layout-sm="column" class="md-raised md-default" ng-click="setOptionsObject('website'); activecls = 1" ng-class="{activeCls: activecls === 1}"><i class="fa fa-globe">&nbsp;</i>website</md-button>
	  <md-button layout-sm="column" class="md-raised md-default" ng-click="setOptionsObject('email'); activecls = 2" ng-class="{activeCls: activecls === 2}"><i class="fa fa-envelope">&nbsp;</i>email</md-button>
	  <md-button layout-sm="column" class="md-raised md-default" ng-click="setOptionsObject('phone'); activecls = 4" ng-class="{activeCls: activecls === 4}"><i class="fa fa-phone">&nbsp;</i>phone</md-button>
	  <md-button layout-sm="column" class="md-raised md-default" ng-click="setOptionsObject('video'); activecls = 5" ng-class="{activeCls: activecls === 5}"><i class="fa fa-film">&nbsp;</i>video</md-button>
	  <md-button layout-sm="column" class="md-raised md-default" ng-click=" setOptionsObject('iframe'); activecls = 6" ng-class="{activeCls: activecls === 6}"><i class="fa fa-image">&nbsp;</i>iframe</md-button>
	 </div>
</md-toolbar>


	<section layout="row" flex layout-padding>
		<div class="md-sidenav-left md-whiteframe-z2 properties-panel" draggable md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout="column" ng-show="isCanvasVisible">
			<md-button class="md-fab md-accent toggle-editor" aria-label="refresh" ng-hide="hide">
				<md-tooltip md-direction="left">
				Open editor
				</md-tooltip>
				<md-icon class="fa fa-pencil" style="width: 24px; height: 24px;">
				</md-icon>
			</md-button>
			<md-toolbar class="properties-header">
			    <div class="md-toolbar-tools text-uppercase">{{ regiontypeLabel | uppercase }}</div>
			 </md-toolbar>
			<form name="regionForm">
				<md-content>
					<md-list>
						<md-input-container class="md-block" ng-if="regiontypeLabel =='internal' || regiontypeLabel =='website' || regiontypeLabel =='iframe'">
							<label>{{ elementlabel }}</label>
							<input name="target" type="text" ng-model="region.target" required aria-label="true" ng-keyup="keyPressFunc(region.target)">
							<div ng-messages="regionForm.target.$error" role="alert">
								<div ng-message-exp="['required']">Required field.</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" ng-if="regiontypeLabel =='phone'">
							<label>{{ elementlabel }}</label>
							<input name="target" type="phone" ng-model="region.target" required aria-label="true" ng-keyup="keyPressFunc(region.target)" minlength="10" maxlength="10" ng-pattern="/^[0-9]{10}$/">
							<div ng-messages="regionForm.target.$error" role="alert">
								<div ng-message-exp="['required', 'pattern']">Valid phone number.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" ng-if="regiontypeLabel =='email'">
							<label>{{ elementlabel }}</label>
							<input name="target" type="email" ng-model="region.target" required aria-label="true" ng-keyup="keyPressFunc(region.target)" ng-pattern="/^.+@.+\..+$/">
							<div ng-messages="regionForm.target.$error" role="alert">
								<div ng-message-exp="['required', 'pattern']">Valid email id.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" ng-if="regiontypeLabel ==='video'">
							<label>{{ elementlabel }}</label>
							<textarea class="video-textarea" name="target" required ng-model="region.target" md-rows="200" md-maxlength="1000" aria-label="true" md-maxlength="10" ng-keyup="keyPressFunc(region.target)"></textarea>
							<div ng-messages="regionForm.target.$error">
								<div ng-message="required">Required field</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block hidden" flex ng-if="regiontypeLabel ==='website'">
							<label>Target</label>
							<md-select ng-model="region.options.target">
					          <md-option ng-repeat="opt in targetopt" value="{{opt.abbrev}}">
					            {{opt.abbrev}}
					          </md-option>
					        </md-select>
						</md-input-container>
					</md-list>
					<div>
						<md-button class="md-raised md-primary" ng-disabled="regionForm.$invalid" ng-click="saveRegion()">Save</md-button>
						<md-button class="md-raised md-primary" ng-click="cancelReset()">Cancel</md-button>
					</div>
				</md-content>
			</form>
		</div>
		<md-content flex layout-padding layout="row" md-component-id="center" layout-fill layout-align="top center">
			<div class="canvasHolder">
			<canvas id="canvasid" width="433" height="542"></canvas>
				<div id="jcl-demo" class="cntr canvasonImage">
					<div class="custom-container widget">
					    <div class="mid">
					        <img ng-src="{{ imgpath }}" alt="1">
					    </div>
					</div>
				</div>
			</div>
		</md-content>
	</section>
	<section class="bottom-bar">
		<div id="jcl-demo1" draggable layout="column" layout-padding sm-component-id="center" layout-fill layout-align="bottom center">
			<div class="widget1" layout="row">
				<div layout="column" layout-align="center center" class="sm-padding">
			   	 <span id="left">
			   	 	<a href="javascript:void(0);" class="prev fa fa-arrow-circle-o-left" style="background-color:#31b0d5; color:#fff; font-size:40px; padding: 3px 10px; border-radius: 3px; text-decoration:none;" ng-click="previousthumb()">
			   	 	</a>
			   	 </span>
			  </div>
				
			    <div class="carousel_1" angular-lazy-load threshold="200" layout="column" layout-align="center start" layout-padding flex>
			        <ul style="background-color:#fff; border:1px solid #ddd;">
				        <li style="float:left; padding:5px; list-style:none; cursor:pointer;" ng-repeat="imgs in regionsimages" data-pageid="page{{ imgs.imageid }}" ng-click="loadregion(imgs.imageid)"><img ng-src="{{ imgs.img }}" style="height:40px; width:40px;"></li>
			        </ul>
			    </div>
			    <div layout="column" layout-align="center center" class="sm-padding">
			    	<span id="right">
			    		<a href="javascript:void(0);" class="next fa fa-arrow-circle-o-right" style="background-color:#31b0d5; color:#fff; font-size:40px; padding: 3px 10px; border-radius: 3px; text-decoration:none;" ng-click="nextthumb()">
			    		</a>
			    	</span>
			  	</div>
			    
			 </div>
		</div>
	</section>
	<loadingbar isvisible="activated"></loadingbar>
