.autoWidth{
	width: auto !important;

}
.activeCls{
	background-color: #269abc;
    border-color: #1b6d85;
}
.properties-panel{
	margin: 20px 5px;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: fixed;
    width: 280px;
    left: 58px;
    top: 70px;
    z-index: 11;
    overflow: hidden;
}
.bottom-bar {
        position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.controllerButton{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    display: table;
}
.prev{float: left;}
.next{float: left !important;}
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go, .jcl-demo a.prev, .jcl-demo a.next{font-size: 24px;
    padding: 5px;
    width: 28px;}
.toggle-editor{display: none;}
/*#jcl-demo{margin: 0 auto;}*/
#jcl-demo .mid{margin: 0;width: 450px;height: 471px;}
canvas {
    border: 1px solid #999;
}
.carousel{    max-width: 90%;padding: 0 !important;
    margin: 0 auto;
    float: none;    float: left !important;}
.canvasHolder{margin: 0 auto;}
.canvasHolder .canvas-container{position: absolute !important;}
#jcl-demo .custom-container{margin: 0;}
.toolbarMng button i{padding-top: 9px;}
md-input-container textarea.md-input{
    min-height: 90px !important;
    border:1px solid #ddd;
}
